#root {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: #0C0914;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  overflow: hidden;
  overscroll-behavior: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

::-webkit-scrollbar-track {
  background-color: #0C0914; 
}

::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black; 
}

::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.Typewriter__cursor{
  color: white;
}


.card {
  padding: 2em;
}
