#root {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: #0C0914;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.loader_container {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

.loader {
  width: 120px;
  height: 20px;
  background: 
    linear-gradient(#766DF4 50%,#0000 0),
    linear-gradient(#0000 50%,#766DF4 0),
    linear-gradient(#766DF4 50%,#0000 0),
    linear-gradient(#0000 50%,#766DF4 0),
    linear-gradient(#766DF4 50%,#0000 0),
    linear-gradient(#0000 50%,#766DF4 0)
    #E4E4ED;
  background-size: calc(100%/6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: p2 2s infinite;
}
@keyframes p2 {
0%     {background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
16.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
33.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
50%    {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
66.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
83.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%}
100%   {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%}
}

.Typewriter__cursor{
  color: white;
}


.card {
  padding: 2em;
}
