#root {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: #0C0914;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  overflow: hidden;
}


.Typewriter__cursor{
  color: white;
}


.card {
  padding: 2em;
}
